[submodule "hadoop-gp-tools"]
	path = gp-tools-hadoop
	url = git@github.com:Esri/gp-tools-hadoop.git
[submodule "esri-geometry-api"]
	path = esri-geometry-api
	url = git@github.com:Esri/geometry-api-java.git
[submodule "hive-spatial"]
	path = spatial-tools-hive
	url = git@github.com:Esri/spatial-tools-hive.git
