[submodule "hadoop-gp-tools"]
	path = hadoop-gp-tools
	url = git@github.com:ArcGIS/hadoop-gp-tools.git
[submodule "esri-geometry-api"]
	path = esri-geometry-api
	url = https://github.com/Esri/geometry-api-java
[submodule "hive-spatial"]
	path = hive-spatial
	url = git@github.com:ArcGIS/hive-spatial.git
